/***general***/

.wrapper {
	width: 90%;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15rem;
}

header {
	overflow: hidden;
	position: fixed;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	h1 {
		width: 50%;
		float: left;
		margin-left: 5%;
	}
}

p {
	margin-bottom: 1.5rem;
	max-width: 650px;
}

img {
	max-width: 100%;
}

.info {
	margin-bottom: 4rem;
}

h2 {
	margin-bottom: 1rem;
}

/*colors*/
.colors {
	height: 200px;
	width: 200px;
	margin-top: 2rem;
}