/***general***/

.wrapper {
	width: 90%;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 8rem;
}

header {
	overflow: hidden;
	position: fixed;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	.header-logo {
		width: 30%;
		float: left;
		margin-left: 5%;
	}
}

p {
	margin-bottom: 1rem;
	max-width: 650px;
}

img {
	max-width: 100%;
}

.info {
	margin-bottom: 4rem;
}

h2 {
	margin-bottom: 1rem;
}

/*colors*/
.colors {
	height: 200px;
	width: 200px;
	margin-top: 2rem;
}

/*type*/
.league, .lato, .prater {
	margin-top: 2rem;
}

.examples {
	margin-top: 2rem;
}

/*logos*/
.logo {
	width: 30%;
}

.biglogo {
	width: 50%;
	margin-right: 10%;
}

/*icon*/
.icon {
	display: block;
	margin-bottom: 2rem;
	padding: 1rem;
}