/***general***/

.wrapper {
	width: 90%;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 12rem;
}

header {
	overflow: hidden;
	position: fixed;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

p {
	margin-bottom: 1.5rem;
	max-width: 650px;
}

img {
	max-width: 100%;
}

.info {
	margin-bottom: 4rem;
}

/*colors*/
.colors {
	height: 150px;
	width: 150px;
}