header {
	background-color: darken(#f7f7f7, 40%);
	h1 {
		color: white;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
}

.teal {
	background-color: #449591;
}


.yellow {
	background-color: #f9c85b;
}

.red {
	background-color: #ad2f25;
}

.blue {
	background-color: #0f5783;
}

.green {
	background-color: #5a7b52;
}

.icon {
	background-color: darken(#f7f7f7, 40%);
}

.nav-collapse a {
	color: white;
}

.nav-toggle {
	color: white;
}