/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 35%;
  float: right;
  margin-right: 5%;
  display: block;
  list-style: none;
  text-align: right; }

.nav-collapse li {
  width: 100%;
  display: block; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  background-color: #c4c4c4;
  float: right;
  width: 100%; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: #c4c4c4;
  float: right;
  overflow: hidden;
  width: 40%;
  margin-right: 5%;
  text-align: right; }

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; } }
body {
  font-family: "Helvetica-Neue", Helvetica, sans-serif; }

p {
  line-height: 1.8;
  font-size: 1rem; }

h1, h2 {
  line-height: 1.3; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

.league {
  font-family: "league-gothic",sans-serif; }

.lato {
  font-family: "league-gothic",sans-serif; }

.prater {
  font-family: "ff-prater-block-web",sans-serif; }

header {
  background-color: #c4c4c4; }
  header h1 {
    color: white;
    width: 90%;
    margin-right: auto;
    margin-left: auto; }

.teal {
  background-color: #449591; }

.yellow {
  background-color: #f9c85b; }

.red {
  background-color: #ad2f25; }

.blue {
  background-color: #0f5783; }

.green {
  background-color: #5a7b52; }

/***general***/
.wrapper {
  width: 90%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15rem; }

header {
  overflow: hidden;
  position: fixed;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  header h1 {
    width: 50%;
    float: left;
    margin-left: 5%; }

p {
  margin-bottom: 1.5rem;
  max-width: 650px; }

img {
  max-width: 100%; }

.info {
  margin-bottom: 4rem; }

h2 {
  margin-bottom: 1rem; }

/*colors*/
.colors {
  height: 200px;
  width: 200px;
  margin-top: 2rem; }

@media screen and (min-width: 650px) {
  header {
    float: left;
    width: 150px;
    height: 100%; }

  .wrapper {
    width: calc(100% - 210px);
    margin: 0 auto;
    padding-left: 180px;
    padding-right: 30px; } }

/*# sourceMappingURL=style.css.map */
